@import "config.scss";
@import "keyframes.scss";

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  list-style-type: none;
  border: none;
  transition: all 0.2s ease;
}

a,
button,
input[type="button"],
svg {
  cursor: pointer;
} 

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover,
input[type="button"]:hover {
  filter: brightness(40%);
}

// utillity clases

.flex {
   display: flex;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.center {
  margin: 0 auto;
}

.grid {
  display: grid;
}

.fullWidth {
  width: 100%;
}

.btn {
  border-radius: 8px;
}

.error {
  @include fonts($color: crimson, $size: 0.8rem)
}

.messageWrapper {
  @include boxSize($height: 32px);
  margin: 0 auto;
}

.message {
  @include fonts($size: 0.9rem, $color: rgb(196, 40, 126));
  padding: 0.7rem 0;
}

button:disabled {
  opacity: 0.1;
}

.hashLink {
  text-shadow: 2px 2px 4px #000;
  padding: 0.7rem 0;
  color: rgba(155, 243, 243, 0.925);
}

// transitions
.fadeIn-enter-active {
  animation: fadeIn 1s;
}
.fadeIn-leave-active {
  animation: fadeIn 1s reverse;
}

.expand-enter-active {
  animation: expand 0.6s;
}

.expand-leave-active {
  animation: expand 0.6s reverse;
}
